.lastfm-widget {
    z-index: 50;
    width: 420px;
    height: 120px;
    background: var(--midnight-green);
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;   
    position: relative;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00000090;
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    margin: 0 0 0 10px;
}

.details {
    text-align: right;
}

.album-art {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.scrobble-status {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    background: #00000050;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 0 0;
    transition: 300ms linear;
}

.scrobble-status:hover {
    opacity: 10%;
}

.song-title, .profile-name, .album-name {
    width: 100%;
}

.profile-name {
    text-align: left;
    font-size: 18px !important;
    margin: 2px 0;
}

.widget-details {
    height: auto;
    width: auto;
    background: var(--midnight-green);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
}

.widget-details p {
    font-size: 15px !important;
    text-align: center;
    margin: 5px 0;
}