.parag-1 {
    font-size: 1.5em;
    color: #fff;
    word-wrap: break-word;
    line-height: 1.5;
}

.other-content {
    transform: scale(0.60);
    margin: 50px;
    border: 5px solid #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.other-content .p1 {
    font-size: 2em;
    color: #fff;
}

.line-separator {
    background: #fff;
    width: 100%;
    height: 5px;
    border-radius: 50px;
    margin: 10px 0;
}

.game-prof {
    cursor: pointer;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    margin: 20px 20px;
}

.xbox {
    border: 5px solid #107C10;
    background-color: 107C10;
}

.xbox::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #fff;
    content: "XBOX";
    height: 400px;
    width: 400px;
}

.osu {
    border: 5px solid #DC98A4;
}

.osu::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #fff;
    content: "osu!";
    height: 400px;
    width: 400px;
}

.roblox {
    border: 5px solid #ff0000;
}

.roblox::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #fff;
    content: "Roblox";
    height: 400px;
    width: 400px;
}

.game-profs {
    transition: 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media only screen and (max-width: 850px) {
    .game-profs {
        flex-direction: column;
    }
}

* {
    text-decoration: none;
}